@model IEnumerable<Ogretmen>

    <table class="table table-bordered" style="background-color: rgb(210, 206, 230);">
        <thead>


            <h2 style="color: rgb(46, 0, 46); font-family: 'Lora', serif; font-size: 2em; font-style: italic;">Öğretmen Listesi</h2>
            <a href="/Ogretmen/Create" class="btn btn-primary" style="background-color: rgb(28, 0, 54);">Öğretmen Ekle</a>
            <hr>
            <tr>
                
                <th style="width: 150px;"></thstyle>@Html.DisplayNameFor(m=> m.OgretmenId)</th>
                <th>@Html.DisplayNameFor(m=> m.Ad)</th>
                <th>@Html.DisplayNameFor(m=> m.Soyad)</th>
                <th>@Html.DisplayNameFor(m=> m.BaslamaTarihi)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>

        <tbody>
            
            @foreach(var item in Model){

                <tr>

                    <td>@Html.DisplayFor(modelItem => item.OgretmenId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ad)</td>
                    <td>@Html.DisplayFor(modelItem => item.Soyad)</td>
                    <td>@Html.DisplayFor(modelItem => item.BaslamaTarihi)</td>

                    <td>
                        <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-danger">Delete</a>
                    </td>

                </tr>

            }
        </tbody>
    </table>